.board-button {
    color: #df7861;
    background-color: aliceblue;
    border-color: #94b49f;
    border-width: 4px;
    border-radius: 5px;
    text-align: left;
    width: 25vw;
    margin-top: 5px;
    margin-bottom: 5px;
}

h2, h3 {
    color: #df7861;
    margin-top: 10px;
    margin-bottom: 10px;
}

.board-button:hover {
    background-color: #94b49f;
    border-color: #f7f5f5;
}

.board-button:active {
    transform: translateY(6px);
}